.button{
    font-weight: 800;
    display: inline-block;
    background-color: #F4CE14;
    padding: 0.5em 1.5em;
    width: fit-content;
    border-radius: 1em;
    border: none;
    cursor: pointer;
}