.form{
    margin: 1em;
    padding: 2em;
}
:root{
    --first-sec-ban-hg: 25.3125em;
    --first-sec-desc-wd: 18em;
    --fist-sec-img-cont-hg: 20.3125em;
    --fourth-sec-img-cont-wd: 20em;
}

.main > section:nth-child(1){
    position: relative;
    background-color:rgba(255, 255, 255, 0);
    padding: 1em 0em;
}
.main > section:nth-child(2){
    padding: 1em 0em;
}
.main > section:nth-child(1)::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 85%;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    background-color: #495E57;
    z-index: -1;
}

.main section{
    /* margin-bottom: 4em; */
}
.main > section{
    grid-column: span 4;
}

@media screen and (min-width: 6.25em) and (max-width: 21.875em ){
    :root{
        --first-sec-desc-wd: 14em;
        --fourth-sec-img-cont-wd: 12em;
    }
}
@media screen and (min-width: 48.0625em) and (max-width: 64em){
  :root{
    --fist-sec-img-cont-hg: 24.3125em;
    --first-sec-desc-wd: 18em;
    --fourth-sec-img-cont-wd: 12em;
  }
    .main > section{
        grid-column: span 4;
    }
    
}
@media screen and (min-width: 64.0625em){
    :root{
        --gap: 10em;
        --first-sec-ban-hg: 24.3125em;
        --first-sec-desc-wd: 18em;
        --fist-sec-img-cont-hg: 24.3125em;
      }
    .main > section{
        grid-column: span 12;
    }
    .main > section:nth-child(1)::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 73%;
        right: 0;
        left: 0;
        bottom: 0;
        top: 0;
        background-color: #495E57;
        z-index: -1;
    }
}