.products{
    display: flex;
    flex-direction: column;
    padding: 0 1em;
}
.products > div:nth-child(1){
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    align-items: center;
    margin-bottom: 3em;
}
.products > div:nth-child(1) h2{
    font-family: var(--secondary-font);
    font-size: var(--section-title-size);
}
.list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
.list_item{
    flex: 1 47%;
    gap: 1em;
    /* height: 35em; */
    background-color: #EDEFEE;
    border-radius: 1em 1em 0em 0em;
}

.image{
    position: relative;
    /* grid-area: image; */
    height: 11em;
    overflow: hidden;
    border-radius: 1em 1em 0em 0em;
}
.image img{
    /* position: absolute; */
    width: 80em;
    object-fit: cover;
    object-position: 0 -4em;
}
.details{
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 1.5em;
}
.title{
    display: flex;
    justify-content: space-between;
}
.title > * {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 1.5em;
}
.title > h4{
    color: var(--primary);
}

.button{
       display: flex;
       align-items: center;
       gap: 1em;
       /* border: 1px solid; */
}
.button span{
       font-weight: 700;
}

@media screen and (min-width: 6.25em) and (max-width: 21.875em ){
    .title > * {
        font-size: var(--card-title-size)
    }
    .text{
     font-size: var(--description);
    }
    .button span{
        font-size: 0.8em;
    }
    .products > div:nth-child(1) h2{
        font-size: var(--section-title-size);
    }
    .image img{
        object-position: 0 0em;
    }
}
@media screen and (min-width: 48.0625em) and (max-width: 64em){
    .products > div:nth-child(1){
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 0em;
        align-items: baseline;
        /* margin-bottom: 3em; */
    }
    /* .products > div:nth-child(1) h2{
        font-family: var(--secondary-font);
        font-size: var(--section-title-size-lg);
    } */
    .image img{
        width: 80em;
        height: 10em;
        object-fit: cover;
        object-position: 0 -3em;
    }
    .list{

        flex-direction: row-reverse;
        gap: 2em;
    }
    .list_item{
        height: 35em;
    }
    .list_item:nth-child(3) .image img{
       object-position: 0 -12em;
       height: 20em;
    }
}
@media screen and (min-width: 64.0625em){

    .products{
      display: grid;
      padding: 0em 8em;
      /* margin: 0 8em; */
    }
    .products > div{
        grid-column: 1 / span 12;
    }
    .products > div:nth-child(1){
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 0em;
        align-items: baseline;
        margin-bottom: 3em;
    }
    .products > div:nth-child(1) h2{
        font-family: var(--secondary-font);
        font-size: 3.3331em;
    }

    .list{
        flex-direction: row;
    }
    .list_item{
        flex: 1;
        gap: 1em;
        height: 35em;
        background-color: #EDEFEE;
        border-radius: 1em 1em 0em 0em;
    }
    .image{
        height: 10em;
    }
    .image img{
        width: 40em;
        height: 7em;
        object-fit: cover;
        object-position: 0 -3em;
    }
    .details{
        gap: 3em;
    }
    .text{
     height: 10em;
    }
}