.testimonials {
  display: flex;
  flex-direction: column;
  
}
.title h2{
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: var(--section-title-size);
  text-align: center;
}
.list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1em;
  padding: 1em;
}
.list_item {
  flex: 1 60%;
  background-color: var(--background);
  padding: 1em 2em;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.rating {
  font-family: var(--secondary-font);
  font-size: var(--subtitle-size);
}
.person {
  display: flex;
}
@media screen and (min-width: 6.25em) and (max-width: 21.875em) {
  .review{
    font-size: var(--description);
  }
}
@media screen and (min-width: 48.0625em) and (max-width: 64em) {

  .list_item {
    flex: 1 45%;
  }
}
@media screen and (min-width: 64.0625em) {
  .testimonials {
    padding: 0em 8em;
    
  }
  .list_item {
    flex: 1 ;
  }

  /* .list {
    flex-direction: row;
    gap: 1em;
  } */
}
