@media screen and (min-width: 6.25em) and (max-width: 21.875em) {
}
@media screen and (min-width: 48.0625em) and (max-width: 64em) {
}
@media screen and (min-width: 64.0625em) {
  .testimonials > div {
    grid-column: 3 / span 8;
  }
  .title h2{
    font-family: 'Markazi Text', serif;
    font-weight: 800;
    font-size: 3.3331em;
  }
  .list {
    display: flex;
    gap: 1em;
  }
  .list_item {
    flex: 1;
    background-color: var(--background);
    padding: 1em 2em;
  }
  .card {
    display: flex;
    flex-direction: column;
  }
  .rating {
    font-family: "Markazi Text", serif;
    font-size: 2em;
  }
  .person {
    display: flex;
  }
}
