.hero {
  display: flex;
  justify-content: center;
  gap: 9em;
  padding: 2em;
}
.hero h1,
.hero h2 {
  font-family: "Markazi Text", serif;
}
.hero h1 {
  font-size: 4em;
  color: #f4ce14;
}
.hero h2 {
  font-size: 2.5em;
  color: white;
}
.details {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.description p {
  color: white;
  width: 18em;
}
.image{
    width: 26em;
}
.image img{
    border-radius: 1em;
}