:root{
  --primary: #F4CE14;
  --secondary:  #495E57;
  --background: #EDEFEE;
  --disabled: #bfbdb4;
  --primary-font: 'Karla', sans-serif;;
  --secondary-font: 'Markazi Text', serif;
  --main-title-size: 4em;
  --subtitle-size: 2.5em;
  --section-title-size: 3.3331em;
  --card-title-size: 1.5em;
  --card-subtitle-size: 1em;
}

.mobile-grid{
  display: grid;
  grid-template-columns: 1fr;
  gap: 2em;
}
@media screen and (min-width: 6.25em) and (max-width: 21.875em ){

}
@media screen and (min-width: 48.0625em) and (max-width: 64em){
  .medium-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2em;
  }
}
@media screen and (min-width: 64.0625em){
  .large-grid{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 2em;
  }
}