/* Reset */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: 'Sora', sans-serif;
}

*,
*::before,
*::after {

  box-sizing: border-box;
  animation-duration: 0.01ms;
  animation-iteration-count: 1;
  transition-duration: 0.01ms;
  scroll-behavior: auto ;
  margin: 0;
  padding: 0;
  text-decoration: none;
  line-height: calc(1em + 0.5rem);
  -webkit-font-smoothing: antialiased;
  list-style-type: none;
  color: rgba(9, 38, 24, 0.9);
}


html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

ul,
ol{
list-style: none;
}

html:focus-within {
scroll-behavior: smooth;
}